@keyframes move1{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#div1{
    background: red;
    width: 100px;
    height: 100px;
}
body{
    font-size: 40px;
}
.popup{
    color: #000;
    width: 300px;
    max-height: 400px;
    background: #fff;
    text-align: center;
}