.swiper-slide {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.swiper-wrapper {
	position: relative;
	overflow: visible;
	width: 100%;
    height: 100%;
}
.swiper-container {
    position: relative;
    overflow: hidden;
}
.swiper-pagination {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
	z-index: 100;
}
.swiper-pagination span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #000;
	opacity: 0.5;
	margin: 0 5px;
}
.swiper-pagination span.active {
	background: #4390ee;
	opacity: 1;
}
